In [21]:
# Import Dependencies
import pandas as pd

In [22]:
# Create a path to the csv and read it into a Pandas DataFrame

client_df = pd.read_csv("client_dataset.csv")

client_df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [23]:
# What three item categories had the most entries?
top_categories = client_df['category'].value_counts().head(3)

In [24]:
# For the category with the most entries, which subcategory had the most entries?
top_category = top_categories.index[0]
top_subcategory_in_top_category = client_df [client_df['category'] == top_category]['subcategory'].value_counts().idxmax()

In [25]:
# Which five clients had the most entries in the data?
top_clients = client_df ['client_id'].value_counts().head(5)

In [26]:
# Store the client IDs of those top 5 clients in a list
top_clients = client_df.index.to_list()

# How many total units (the qty column) did the client with the most entries order?
top_client_id = top_clients.index[0]
total_units_top_client = client_df[ client_df ['client_id'] == top_client_id]['qty'].sum()

In [27]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
client_df ['subtotal'] = client_df ['unit_cost'] * client_df  ['qty']

In [28]:
# Create a column for shipping price
client_df ['shipping_price'] =   client_df ['unit_weight'].apply(lambda x: 7 * x if x > 50 else 10 * x)

In [29]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
client_df ['unit_price'] = (client_df['subtotal'] + client_df['shipping_price']) * 9.25

In [30]:
# Create a column for the cost of each line using unit cost, qty, and shipping price (assume the shipping cost is exactly what is charged to the client).
client_df ['line_cost'] = client_df ['unit_cost'] * client_df ['qty'] + client_df ['shipping_price']

In [31]:
# Create a column for the profit of each line using line cost and line price.
client_df ['line_profit'] = client_df ['unit_price'] - client_df ['unit_cost']

In [19]:
# How much did each of the top 5 clients by quantity spend? Use your work from Part 1 for client ids?
top_clients_spent  = (client_df ['client_id'] loc. ,['unit_cost'])

client_df.head()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2096441656.py, line 2)

In [184]:
# Create a summary DataFrame showing the totals for the top 5 clients with the following information: total units purchased, total shipping price, total revenue, and total profit.
summary_data = client_df ['client_id'].isin ('summary_data') = client_df ['client_id'].isin (top_clients_list).groupby('client_id').agg(
).groupby('client_id').agg(
    total_units_purchased=pd.NamedAgg(column='qty', aggfunc='sum'),
    total_shipping_price=pd.NamedAgg(column='shipping_price', aggfunc='sum'),
    total_revenue=pd.NamedAgg(column='total_price', aggfunc='sum'),
    total_profit=pd.NamedAgg(column='line_profit', aggfunc='sum')
).reset_index()

print(summary_data)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (654518322.py, line 2)

In [149]:
# Create a function to change the currency to millions of dollars. Format the data and rename the columns to names suitable for presentation. Then, sort the DataFrame in descending order by total profits.
summary_data[['total_units_purchased', 'total_shipping_price', 'total_revenue', 'total_profit']] = summary_data[['total_units_purchased', 'total_shipping_price', 'total_revenue', 'total_profit']].applymap(format_to_millions)

summary_data.rename(columns={
    'client_id': 'Client ID',
    'total_units_purchased': 'Total Units Purchased (Millions)',
    'total_shipping_price': 'Total Shipping Price (Millions)',
    'total_revenue': 'Total Revenue (Millions)',
    'total_profit': 'Total Profit (Millions)'
}, inplace=True)

summary_data_sorted = summary_data.sort_values(by='Total Profit (Millions)', ascending=False).reset_index(drop=True)

print(summary_data_sorted)

summary_data_sorted.to_csv('client_dataset.csv', index=False)

NameError: name 'summary_data' is not defined